In [27]:
# Imports
import pickle, json
import pandas as pd
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing import sequence
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Embedding, LSTM, Bidirectional
from tensorflow.keras.callbacks import EarlyStopping
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import numpy as np

In [1]:
# Importing, opening pickled array, size brought down from 20.4 GBs to .5 GBs pre-pickling
with open('PreProcessing/kickXY.pkl', 'rb') as fp:
	base = pickle.load(fp)

In [2]:
# Key for array column names
# key = [0'unid', 1'timeline', 2'goalUSD', 3'category', 4'text', 5'state']

# Turning array input from scraped data into dataframe
bigDF = pd.DataFrame(data=base)

# Splitting category 'slug' into category & subcategory
bigDF[3] = bigDF[3].str.split('/', n=1)
bigDF[6] = [bigDF[3][i][-1] for i in range(len(bigDF))]
bigDF[3] = [bigDF[3][i][0] for i in range(len(bigDF))]

# Dropping 'live', 'canceled', 'suspended' records and removing dupes (3.6M->221K)
states = ['live', 'canceled', 'suspended']
for i in range(len(states)):
    bigDF.drop(bigDF[bigDF[5] == states[i]].index, inplace=True)

bigDFunique = bigDF.drop_duplicates(keep='last')

# Dropping unique_id column post dupe-removal
bigDFunique.drop(columns=0, inplace=True)

/Users/rowenwitt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [3]:
# Saving cleaned, de-duped, state-simplified csv (3.6M -> 221K)
bigDFunique.to_csv('cleanKick.csv')

In [4]:
bigDFunique

,1,2,3,4,5,6
21294,30,7895.704536,publishing,粵語文學期刊\nCantonese Literature Periodical,successful,literary journals
21976,24,4008.273100,comics,"A survival horror about love, acceptance, deat...",successful,graphic novels
29021,60,11000.000000,comics,A graphic novel and unique take on Anthology H...,failed,graphic novels
44904,31,1558.756540,comics,An anthology with 3 self-contained shorts of T...,successful,anthologies
45339,31,5623.373450,games,The world's first truly travel optimized playi...,successful,playing cards
...,...,...,...,...,...,...
3658378,17,600.000000,art,Back this project! Or don't. It doesn't matte...,failed,conceptual art
3658379,30,10000.000000,publishing,How do you make friends as an adult? I created...,failed,young adult
3658380,20,3100.000000,art,A 32 card oracle deck filled with ghosts & spi...,successful,illustration
3658381,30,5000.000000,publishing,Mars Awaits! Each piece of artwork shows one s...,failed,calendars
3658382,30,1970.000000,photography,My house was burglarized and my laptop and bel...,failed,animals

In [5]:
# Label encode category, state, subCategory
LeCat = LabelEncoder()
LeSubCat = LabelEncoder()
LeState = LabelEncoder()

# Fit encoders on respective columns
LeCat.fit(bigDFunique[3])
LeSubCat.fit(bigDFunique[6])
LeState.fit(bigDFunique[5])

# Apply encodings to columns
bigDFunique[3] = LeCat.transform(bigDFunique[3])
bigDFunique[6] = LeSubCat.transform(bigDFunique[6])
bigDFunique[5] = LeState.transform(bigDFunique[5])

<ipython-input-5-e6fc0a584793>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bigDFunique[3] = LeCat.transform(bigDFunique[3])
<ipython-input-5-e6fc0a584793>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bigDFunique[6] = LeSubCat.transform(bigDFunique[6])
<ipython-input-5-e6fc0a584793>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bigDFunique[5] = LeState.transform(bigDFunique[5])

In [6]:
# create dict maps
def ones(imp):
    out = []
    for i in range(len(imp)):
        out.append(i)
    
    dmap = dict(zip(out, imp))
    return dmap

StateMap = ones(LeState.classes_)
CatMap = ones(LeCat.classes_)
SubCatMap = ones(LeSubCat.classes_)

In [7]:
# SubCatMap

In [8]:
# Instantiating Tokenizer
tok = Tokenizer()

# Fitting tokenizer on df text array
tok.fit_on_texts(texts=bigDFunique[4])

# Getting word index from tokenizer
dex = tok.word_index

# Keep work index to 1000 words
tok.num_words = 1000

# Creating sequences from df text array
seqs = tok.texts_to_sequences(bigDFunique[4])
max_features = len(dex.values()) + 1
maxlen = 43

# Saving tokenizer to pickle
with open('tokenizer.pickle', 'wb') as handle:
    pickle.dump(tok, handle, protocol=pickle.HIGHEST_PROTOCOL)

# Padding sequence length
bigX = sequence.pad_sequences(seqs, maxlen)

# Creating list of reconstructed text
recons = tok.sequences_to_texts(seqs)

In [9]:
bigX[0]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
      dtype=int32)

In [10]:
bigDFunique.shape

(211038, 6)

In [11]:
# Giving text encodings (bigX) own column 7-49
for j in range(7, (50)):
    f = j-7
    bigDFunique[j] = [bigX[i][f] for i in range(len(bigDFunique))]

<ipython-input-11-b0ee71e790d5>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bigDFunique[j] = [bigX[i][f] for i in range(len(bigDFunique))]

In [12]:
# dropping out column 4 (unencoded text), re-naming columns, renaming df to df
df = bigDFunique.drop(columns=[4])

newColumns = [i for i in range(48)]
df.columns = newColumns

# Splitting into X and Y (4 = success/failure)
target = 3
X = df.drop(columns=target)
Y = df[target]

In [13]:
df

,0,1,2,3,4,5,6,7,8,9,...,38,39,40,41,42,43,44,45,46,47
21294,30,7895.704536,12,1,82,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21976,24,4008.273100,1,1,66,0,0,0,0,0,...,199,24,51,536,3,3,27,85,330,496
29021,60,11000.000000,1,0,66,0,0,0,0,0,...,22,650,198,630,1,370,63,3,107,2
44904,31,1558.756540,1,1,6,0,0,0,0,0,...,146,237,5,2,266,76,113,635,620,2
45339,31,5623.373450,8,1,106,0,0,0,0,0,...,0,0,2,383,36,262,171,133,814,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3658378,17,600.000000,0,0,28,0,0,0,0,0,...,0,119,22,54,50,531,27,6,2,408
3658379,30,10000.000000,12,0,159,0,0,0,0,0,...,4,534,61,6,239,35,12,42,28,759
3658380,20,3100.000000,0,1,70,0,0,0,0,0,...,634,43,745,5,2,240,2,910,3,2
3658381,30,5000.000000,12,0,15,0,0,0,0,0,...,41,648,6,2,5,3,2,3,291,5
3658382,30,1970.000000,11,0,4,0,0,0,0,0,...,880,4,103,111,110,187,7,1,227,16

In [14]:
X

,0,1,2,4,5,6,7,8,9,10,...,38,39,40,41,42,43,44,45,46,47
21294,30,7895.704536,12,82,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21976,24,4008.273100,1,66,0,0,0,0,0,0,...,199,24,51,536,3,3,27,85,330,496
29021,60,11000.000000,1,66,0,0,0,0,0,0,...,22,650,198,630,1,370,63,3,107,2
44904,31,1558.756540,1,6,0,0,0,0,0,0,...,146,237,5,2,266,76,113,635,620,2
45339,31,5623.373450,8,106,0,0,0,0,0,0,...,0,0,2,383,36,262,171,133,814,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3658378,17,600.000000,0,28,0,0,0,0,0,0,...,0,119,22,54,50,531,27,6,2,408
3658379,30,10000.000000,12,159,0,0,0,0,0,0,...,4,534,61,6,239,35,12,42,28,759
3658380,20,3100.000000,0,70,0,0,0,0,0,0,...,634,43,745,5,2,240,2,910,3,2
3658381,30,5000.000000,12,15,0,0,0,0,0,0,...,41,648,6,2,5,3,2,3,291,5
3658382,30,1970.000000,11,4,0,0,0,0,0,0,...,880,4,103,111,110,187,7,1,227,16

In [29]:
# Creating X,Y Train and X,Y Validation sets
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=42)
((X_train.shape, y_train.shape),(X_test.shape, y_test.shape))

(((147726, 47), (147726,)), ((63312, 47), (63312,)))

In [30]:
# Convert X_train to numpy array
arr = X_train.to_numpy()
# Reshape numpy array into 3D tensor
tarr = arr.reshape(147726, 47, 1)
# Convert ints to floats
X_train = np.asarray(tarr).astype('float32')
y_train = np.asarray(y_train).astype('float32')

# Convert X_test to numpy array
arr = X_test.to_numpy()
# Reshape numpy array into 3D tensor
varr = arr.reshape(63312, 47, 1)
# Convert ints to floats
X_test = np.asarray(varr).astype('float32')
y_test = np.asarray(y_test).astype('float32')

In [18]:
((X_train.shape, y_train.shape), (X_test.shape, y_test.shape))

(((147726, 47, 1), (147726,)), ((63312, 47, 1), (63312,)))

In [31]:
print('building model')
maxlen = 43
dim = len(dex)
model = Sequential()

""" Changes made
- Try dropping out unid > Holy shit it broke the model, was it keying on unid?
    Nope, I'm an idiot and it frameshifted one to left (durrrr)
- Added second LSTM layer, has not really impacted accuracy
- Added dense layer
"""

# Try embeddings (will it work if only 43/49 columns are encoded words?)

# Try normalizing inputs (just words? everything individually?)

# Try playing with layers (Add'l dense layer?  Add'l LSTM layer?)

# model.add(Embedding(input_dim=15000,
# 					embeddings_initializer="uniform", output_dim=256))

model.add(LSTM(64, input_shape=(47, 1), dropout=0.1, return_sequences=True))

model.add(LSTM(64, input_shape=(47, 1), return_sequences=True))

model.add(LSTM(64, input_shape=(47, 1), return_sequences=False))

model.add(Dense(10, activation='relu'))

model.add(Dense(1, activation='sigmoid'))

model.compile(loss='binary_crossentropy', optimizer='adam',
			  metrics=['accuracy'])

building model

In [32]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_3 (LSTM)                (None, 47, 64)            16896
_________________________________________________________________
lstm_4 (LSTM)                (None, 47, 64)            33024
_________________________________________________________________
lstm_5 (LSTM)                (None, 64)                33024
_________________________________________________________________
dense_2 (Dense)              (None, 10)                650
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 11
=================================================================
Total params: 83,605
Trainable params: 83,605
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Early stopping on val_loss
stop = EarlyStopping(monitor='val_loss', mode='min', verbose=1, patience=20)

print("training")
history = model.fit(tarr, y_train,
				   validation_data=(varr, y_test),
				   batch_size=128,
				   epochs=100,
				   verbose=1,
                   callbacks=[stop],
                   workers=10)

print(history)
print('---')

training
Epoch 1/100
1155/1155 [==============================] - 100s 84ms/step - loss: 0.6611 - accuracy: 0.6109 - val_loss: 0.6475 - val_accuracy: 0.6285
Epoch 2/100
1155/1155 [==============================] - 93s 80ms/step - loss: 0.6440 - accuracy: 0.6293 - val_loss: 0.6284 - val_accuracy: 0.6425
Epoch 3/100
1155/1155 [==============================] - 93s 80ms/step - loss: 0.6351 - accuracy: 0.6370 - val_loss: 0.6242 - val_accuracy: 0.6494
Epoch 4/100
1155/1155 [==============================] - 95s 82ms/step - loss: 0.6268 - accuracy: 0.6429 - val_loss: 0.6206 - val_accuracy: 0.6556
Epoch 5/100
1155/1155 [==============================] - 95s 82ms/step - loss: 0.6042 - accuracy: 0.6609 - val_loss: 0.6053 - val_accuracy: 0.6654
Epoch 6/100
1155/1155 [==============================] - 98s 84ms/step - loss: 0.5988 - accuracy: 0.6664 - val_loss: 0.6224 - val_accuracy: 0.6601
Epoch 7/100
1155/1155 [==============================] - 96s 83ms/step - loss: 0.5922 - accuracy: 0.6722 - val_loss: 0.6739 - val_accuracy: 0.6508
Epoch 8/100
1155/1155 [==============================] - 96s 83ms/step - loss: 0.5879 - accuracy: 0.6751 - val_loss: 0.6574 - val_accuracy: 0.6611
Epoch 9/100
1155/1155 [==============================] - 105s 91ms/step - loss: 0.5819 - accuracy: 0.6807 - val_loss: 0.6106 - val_accuracy: 0.6521
Epoch 10/100
 215/1155 [====>.........................] - ETA: 1:20 - loss: 0.5782 - accuracy: 0.6840

In [ ]:
# Save first model (get a point on the board!)
model.save('models/model2')
print('saved successfully')

In [ ]:
import tensorflow as tf
# Convert model to tflite model (it can't be that simple)
converter = tf.lite.TFLiteConverter.from_saved_model('models')
tflite_model = converter.convert()

# Resave model
with open('model1.tflite', 'wb') as f:
    f.write(tflite_model)

In [ ]:
# Will take forever to run, accuracy is so-so for 3-category class
# Options are
#    1. Sample data set, 3,600,000 is too many (weak)
#    2. Set up EC2 instance, pay like 10 dollars/hour (cool, difficult)
#    3. Increase batch-size to the 10k range (dumb?)
#    4. Decrease validation size to 1/5
#                Test set size = 1,830,912 ... 1/5 = 366,182.4
# Blurb dataset is 150Char, Descrip dataset is 3,500Char
# Will this impact training time?  Maybe not?